<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row">
                        <div class="col-3">
                            <h3 class="mb-0">Sitios</h3>
                        </div>
                        <div class="col-9 text-right"> <!-- Ajuste aquí -->
                            <button type="button" class="btn btn-success" (click)="create()">Crear</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6"></div>
                    <div class="col-3">
                        <!-- <button type="button" class="btn btn-success" (click)="*create()">Crear</button> -->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!-- <h1>Pagos de {{ subscription }}</h1> -->
                <div class="table-responsive"> <!-- Agrega esta línea -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-1">ID</th>
                                <th class="col-3">NOMBRE</th>
                                <th class="col-3">UBICACIÓN</th>
                                <th class="col-5">EMAIL</th>
                                <th class="col-6">DEPARTAMENTO</th>
                                <th class="col-5">CIUDAD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let site of sites">
                                <td>{{ site.id }}</td>
                                <td>{{ site.name }}</td>
                                <td>{{ site.location }}</td>
                                <td>{{ site.email }}</td>
                                <td>{{ site.department_name }}</td>
                                <td>{{ site.city_name }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" (click)="view(site.id)">Ver</button>
                                    <button type="button" class="btn btn-warning"
                                        (click)="update(site.id)">Editar</button>
                                    <button type="button" class="btn btn-danger"
                                        (click)="delete(site.id)">Eliminar</button>
                                </td>
                            </tr>
                    </table>
                </div> <!-- Agrega esta línea -->
            </div>
        </div>
    </div>
</div>