<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-3">
              <h3 class="mb-0">Servicios</h3>
            </div>
            <div class="col-6"></div>
            <div class="col-3">
              <button type="button" class="btn btn-success" (click)="create()">Crear</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-1">ID</th>
                  <th class="col-3">TIPO</th>
                  <th class="col-3">FECHA DE INICIO</th>
                  <th class="col-5">OPCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of services">
                  <td>{{ service.id }}</td>
                  <td>{{ service.type }}</td>
                  <td>{{ service.start_date }}</td>
                  <td>
                      <button type="button" class="btn btn-primary" (click)="view(service.id)">Ver</button>
                      <button type="button" class="btn btn-warning" (click)="update(service.id)">Editar</button>
                      <button type="button" class="btn btn-danger" (click)="delete(service.id)">Eliminar</button>
                      <button type="button" class="btn btn-info" (click)="listServicesPlans(service.id)">Servicios Planes</button>
                      <button type="button" class="btn btn-secondary" (click)="listNotifications(service.id)">Notificaciones</button>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
