<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 *ngIf="mode === 1" class="mb-0">Visualización</h3>
                    <h3 *ngIf="mode === 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode === 3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row">
                                <!-- Primera fila -->
                                <div class="col-4">Id:</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="wakeroom.id"
                                        disabled="mode === 1">
                                </div>
                            </div>
                            <div class="row">
                                <!-- Segunda fila -->
                                <div class="col-4">Nombre:</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="wakeroom.name"
                                        [disabled]="mode === 1" formControlName="name">
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('name').errors && (theFormGroup.get('name').dirty || theFormGroup.get('name').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('name').errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Tercera fila -->
                                <div class="col-4">Capacidad:</div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="wakeroom.capacity"
                                        [disabled]="mode === 1" formControlName="capacity">
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('capacity').errors && (theFormGroup.get('capacity').dirty || theFormGroup.get('capacity').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('capacity').errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="theFormGroup.get('capacity').errors.min"
                                            class="msnError">Invalido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Cuarta fila -->
                                <div class="col-4">Disponibilidad:</div>
                                <div class="col-8">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                            [(ngModel)]="wakeroom.availability" [disabled]="mode === 1"
                                            formControlName="availability" id="availabilityCheckbox">
                                        <label class="form-check-label" for="availabilityCheckbox">Disponible</label>
                                    </div>
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('availability').errors && (theFormGroup.get('availability').dirty || theFormGroup.get('availability').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('availability').errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Botones -->
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode === 2" class="btn btn-primary btn-block"
                                        (click)="create()">Crear</button>
                                    <button *ngIf="mode === 3" class="btn btn-primary btn-block"
                                        (click)="update()">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>