<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Asignaciones de Roles y Permisos</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Rol</th>
                <th>Permiso</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rolePermission of rolePermissions">
                <td>{{ rolePermission._id }}</td>
                <td>{{ rolePermission.role.name }}</td>
                <td>{{ rolePermission.permission?.url }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="view(rolePermission._id)">Ver</button>
                  <button type="button" class="btn btn-warning" (click)="update(rolePermission._id)">Editar</button>
                  <button type="button" class="btn btn-danger" (click)="delete(rolePermission._id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>