<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-3">
              <h3 class="mb-0" *ngIf="isPlan">Servicios planes de {{ plan_id }}</h3>
              <h3 class="mb-0" *ngIf="isService">Servicios planes de {{ service_id }}</h3>
            </div>
            <div class="col-6"></div>
            <div class="col-3">
              <button *ngIf="isPlan" type="button" class="btn btn-success" (click)="createWithPlan(plan_id)">Crear</button>
              <button *ngIf="isService" type="button" class="btn btn-success" (click)="createWithService(service_id)">Crear</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-1">ID</th>
                  <th class="col-3">ESTADO</th>
                  <th class="col-3">FECHA COMIENZO</th>
                  <th class="col-5">OPCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let serviceplan of servicesplansAux">
                  <td>{{ serviceplan.id }}</td>
                  <td>{{ serviceplan.status_hiring }}</td>
                  <td>{{ serviceplan.date_hiring }}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="view(serviceplan.id)">Ver</button>
                    <button type="button" class="btn btn-warning" (click)="update(serviceplan.id)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="delete(serviceplan.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

