<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-3">
              <h3 class="mb-0">Pagos</h3>
            </div>
            <div class="col-8 text-right">
              <button type="button" class="btn btn-success" (click)="create(subscription)">Crear</button>
            </div>
          </div>
        </div>
      </div>
        <div class="card-body">
          <h1>Pagos de {{ subscription }}</h1>
          <div class="table-responsive"> <!-- Agrega esta línea -->
            <table class="table">
              <thead>
                <tr>
                  <th class="col-1">ID</th>
                  <th class="col-3">DIA DE PAGO</th>
                  <th class="col-3">CANTIDAD</th>
                  <th class="col-5">OPCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pay of pays">
                  <td>{{ pay.id }}</td>
                  <td>{{ pay.paymentDate }}</td>
                  <td>{{ pay.amount }}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="view(pay.id)">Ver</button>
                    <button type="button" class="btn btn-warning" (click)="update(pay.id)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="delete(pay.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- Agrega esta línea -->
        </div>
      </div>
    </div>
  </div>