<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-3">
              <h3 class="mb-0">Beneficiarios</h3>
            </div>
            <div class="col-6"></div>
            <div class="col-3">
              <button type="button" class="btn btn-success" (click)="create(owner)">Crear</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h1>Beneficiarios de {{ owner }}</h1>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-1">ID</th>
                  <th class="col-3">CEDULA</th>
                  <th class="col-3">NOMBRE</th>
                  <th class="col-5">OPCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let beneficiary of beneficiaryAux">
                  <td>{{ beneficiary.id }}</td>
                  <td>{{ beneficiary.identificationCard }}</td>
                  <td>{{ beneficiary.name }}</td>
                  <td>
                      <button type="button" class="btn btn-primary" (click)="view(beneficiary.id)">Ver</button>
                      <button type="button" class="btn btn-warning" (click)="update(beneficiary.id)">Editar</button>
                      <button type="button" class="btn btn-danger" (click)="delete(beneficiary.id)">Eliminar</button>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
