<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 *ngIf="mode === 1" class="mb-0">Visualización</h3>
                    <h3 *ngIf="mode === 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode === 3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row">
                                <!-- Primera fila -->
                                <div class="col-4">Id:</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="burial.id"
                                        disabled="mode === 1">
                                </div>
                            </div>

                            <div class="row">
                                <!-- Segunda fila -->
                                <div class="col-4">Tipo:</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="serviceAbstract.type"
                                        [disabled]="mode === 1" formControlName="type">
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('type').errors && (theFormGroup.get('type').dirty || theFormGroup.get('type').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('type').errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Segunda fila -->
                                <div class="col-4">Fecha de Comienzo:</div>
                                <div class="col-8">
                                    <input type="date" class="form-control" [(ngModel)]="serviceAbstract.start_date"
                                        [value]="serviceAbstract.start_date | date:'yyyy-MM-dd'" [disabled]="mode === 1"
                                        formControlName="start_date">
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('start_date').errors && (theFormGroup.get('start_date').dirty || theFormGroup.get('start_date').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('start_date').errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Segunda fila -->
                                <div class="col-4">Fecha de Fin:</div>
                                <div class="col-8">
                                    <input type="date" class="form-control" [(ngModel)]="serviceAbstract.end_date"
                                        [value]="serviceAbstract.end_date | date:'yyyy-MM-dd'" [disabled]="mode === 1"
                                        formControlName="end_date">
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('end_date').errors && (theFormGroup.get('end_date').dirty || theFormGroup.get('end_date').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('end_date').errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Tercera fila -->
                                <div class="col-4">Ubicación:</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="burial.location"
                                        [disabled]="mode === 1" formControlName="location">
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('location').errors && (theFormGroup.get('location').dirty || theFormGroup.get('location').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('location').errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Tercera fila -->
                                <div class="col-4">Cementerio:</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="burial.cementery"
                                        [disabled]="mode === 1" formControlName="cementery">
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('cementery').errors && (theFormGroup.get('cementery').dirty || theFormGroup.get('cementery').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('cementery').errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Segunda fila -->
                                <div class="col-4">Tipo de cepultura:</div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="burial.burial_type"
                                        [disabled]="mode === 1" formControlName="burial_type">
                                    <br>
                                    <div
                                        *ngIf="theFormGroup.get('burial_type').errors && (theFormGroup.get('burial_type').dirty || theFormGroup.get('burial_type').touched || trySend)">
                                        <strong *ngIf="theFormGroup.get('burial_type').errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Botones -->
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode === 2" class="btn btn-primary btn-block"
                                        (click)="create()">Crear</button>
                                    <button *ngIf="mode === 3" class="btn btn-primary btn-block"
                                        (click)="update()">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>