<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 *ngIF="mode==1" class="mb-0">Visualización</h3>
                    <h3 *ngIF="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIF="mode==1" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup] = "theFormGroup">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    Id:
                                </div>
                                <div class="col-8">
                                    {{serviceEntity.id}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Tipo:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="serviceEntity.type" [disabled]="mode==1" formControlName="type">
                                    <div *ngIf="getTheFormGroup.type.errors && (getTheFormGroup.type.dirty || getTheFormGroup.type.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.type.errors.required" class="msnError">El mínimo aceptado es 10</strong>
                                        <strong *ngIf="getTheFormGroup.type.errors.minLength" class="msnError">El máximo aceptado es 100</strong>
                                        <strong *ngIf="getTheFormGroup.type.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Fecha de inicio:
                                </div>
                                <div class="col-8">
                                    <input type="date" class="form-control" [(ngModel)]="serviceEntity.start_date" [disabled]="mode==1" formControlName="start_date">
                                    <div *ngIf="getTheFormGroup.start_date.errors && (getTheFormGroup.start_date.dirty || getTheFormGroup.start_date.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.start_date.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Fecha de finalización:
                                </div>
                                <div class="col-8">
                                    <input type="date" class="form-control" [(ngModel)]="serviceEntity.end_date" [disabled]="mode==1" formControlName="end_date">
                                    <div *ngIf="getTheFormGroup.end_date.errors && (getTheFormGroup.end_date.dirty || getTheFormGroup.end_date.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.end_date.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                              <button *ngIf="mode==2" class="btn btn-primary btn-block" (click)="create()">Crear</button>
                              <button *ngIf="mode==3" class="btn btn-primary btn-block" (click)="update()">Actualizar</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

